# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/
.venv/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Translations
*.mo
*.pot

# Jupyter
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# dotenv
.env
.env.*.local

# VS Code
.vscode/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Streamlit
.streamlit/

# Logs
*.log

# mypy
.mypy_cache/

# profiling
.prof

# celery beat db
celerybeat-schedule

# SQL DBs
*.sqlite3
src/langgraphagentic_ai/LLMS/__pycache__/
